{% if labels.severity == "critical" %}🔴 {% elif labels.severity == "warning" %}🟡 {% else %}⚪ {% endif %}**{{ summary }}**

{{ description|replace("\n","  \n") }}

<ul>
{% for key, value in labels.items() if key not in ["alertname", "severity"] %}
  <li><strong>{{ key }}</strong>: {{ value }}</li>
{% endfor %}
</ul>
